@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #293462;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.todo-task {
    width: 700px;
    padding: 15px;
    margin: 0 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}

@media (max-width: 900px) {
    .todo-task {
        width: 500px;
    }
}

@media (max-width: 500px) {
    .todo-task {
        width: 350px;
    }
    .container {
        flex-direction: column;
    }
    .btn {
        margin-top: 10px;
        width: 150px;
    }
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f94c9c;
    color: #fff;
    width: 75px;
}

.btn:hover {
    cursor: pointer;
    filter: brightness(88%);
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0); */
}

.outer {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.outer h2 {
    display: flex;
    text-align: center;
    padding: 75px 50px 50px 50px;
    font-size: 3rem;
    color: #f4f4f4;
    justify-content: center;
}

.card {
    margin: 10px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    width: 700px;
}

ul {
    list-style: none;
    word-wrap: break-word;
}

.card li {
    font-size: 1.5rem;
}

.icons > * {
    margin: 10px;
}

.icon-btn {
    border: none;
    background: inherit;
}

.icon-btn:hover {
    cursor: pointer;
}

.list-outer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
